    <h3>Agregar:</h3>

    <input type="text"
           class="form-control"
           placeholder="Nombre del personaje"
           [value]="name()"
           (change)="name.set(txtName.value)"
           #txtName
    />

    <input type="number"
           class="form-control mt-2"
           placeholder="Poder de pelea"
           [value]="power()"
           (input)="power.set(+txtPower.value)"
            #txtPower


            />

    <button class="btn btn-primary mt-2"
            (click)="addCharacter()">Agregar Personaje</button>
